<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <meta name="fragment" content="!">
  <meta name="description" content="MEAN app for the Artoo Campus">
  <meta name="author" content="ArtooCampus">
  <meta name="application-name" content="Artoo Campus">
  <meta name="viewport" content="width=device-width">
  <title>Artoo Campus - Scopes</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="app">
  <!-- bind the item controller to an element -->
  <div ng-controller="ItemCtrl">
    <div class="container">
      <!--<h1 >{{titolo}}</h1>-->
      <div class="row">
        <h1 ng-bind="titolo"></h1>
        <label for="nome">{{label}}:</label>
        <input name="nome" type="text" class="form-control" placeholder="Scrivi qui il tuo nome" ng-model="testo">
      </div>
      <div class="row">
        <h2>Two way data binding</h2>
        <p><strong>{{saluta}} {{testo}}</strong></p>
      </div>
    </div>
  </div>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app.js"></script>
  <!-- load the item controller -->
  <script src="item.controller.js"></script>
</body>

</html>

      
